.logo {
  width: 10vw;
  margin-left: 5vw;
}
.title-banner {
  padding-top: 15vw;
  font-weight: 200;
  color: #ffffff;
  font-size: xx-large;
}

.sub-title-banner {
  /* padding: 2vw; */
  padding-left: 0vw;
  color: #ffffff;
  font-size: large;
}
.button_banner {
  border-color: #0c0c0c;
  border: 0.2vw solid;
  padding: 0.6vw;
  align-items: center;
  /* margin-left: 5vw; */
  color: #ffffff;
  margin-bottom: 10vw;
  margin-bottom: 10vw;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 5vw;
  text-shadow: #151515 2px 1px;
}
.solution h2 {
  text-align: center;
  padding: 2vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  color: #38b6ff;
  font-size: xx-large;
}
.box-container {
  display: flex;
  gap: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #f7f6f6;
}
.box h3 {
  font-size: larger;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.box li {
  list-style-position: inside;
}
.pivot-container h2 {
  text-align: center;
  padding: 2vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  color: #38b6ff;
  display: block;
  font-size: xx-large;
}
button,
textarea {
  background: none;
  font-size: inherit;
}
.pivot-main h3 {
  font-size: larger;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.pivot-blocks {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.heading {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  background-color: #f7f6f6;
}
.pivot-list{
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vw;
    cursor: pointer;
    color: #6aafd7;
}
.pivot-container {
  box-shadow: #d7d5d5 0px 0.8px;
  margin-left: 5vw;
  margin-right: 5vw;
  background: white;
  padding-bottom: 5vw;
}
.university-container {
  display: flex;
  gap: 2vw;
  justify-content: center;
}
.university h2 {
  text-align: center;
  padding: 2vw;
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  color: #38b6ff;
  font-size: xx-large;
}
.university-box {
  border: #d7d5d5 groove 0.5px;

  padding: 2vw;
  width: 10vw;
  height: 10vw;
}
header {
  box-shadow: #d7d5d5 0px 0.8px;
  background: white;
  position: fixed;
  width: 100vw;
  top: 0;
}
footer {
  justify-content: center;
  margin-top: 5vw;
  text-align: center;
  background-color: #838181;

  color: #ffffff;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
}
footer u {
  text-decoration: underline;
}

body {
     margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
 
  scrollbar-width: none;
}
html {
  scrollbar-width: none;
}

:root {
  font-family: "Poppins", sans-serif;
}

ul {
  padding-left: 0vw;
  font-size: small;
  line-height: 1.5vw;
  
  
 
}

img {
  width: 100%;
  height: auto;
}
.scrollarrow {
 background:#d7d5d5;
 padding: 1vw;
  text-align: center;
  right: 2vw;
  width: 1.5vw;
  margin-right: 0;
  position: fixed;
  bottom: 9vw;
  cursor: pointer;
}
.scrollarrow:hover{
    background: #b3b1b1;
}